.container{
    margin-top: 2%;
}

.tabs {
    position: relative;
    min-height: 200px;
    clear: both;
    margin: 50px 0 25px;
    background: white;
}

.tab {
    float: left;
}

.tab label {
    background: white;
    padding: -2px;
    border: 1px solid white;
    margin-left: 15px;
    position: relative;
    left: 8px;
    top: -29px;
}

.tab [type=radio] {
    display: none;
}

.content {
    position: absolute;
    top: -1px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    border-top: 1px solid gray;
    opacity: 0;
}

[type=radio]:checked~label.c {
    background: white;
    border-bottom: 1px solid white;
    z-index: 0;
    border-bottom: solid 4px red;
}

[type=radio]:checked~label~.content {
    z-index: 0;
    opacity: 1;
}

.button {
    position: absolute;
    right: 8%;
    top: 44%;
    opacity: 0.6;
    border-radius: 3px;
    color: navy;
    font-size: 20px;
    font-weight: bold;
    font-family: calibri;
}

.heading {
    width: 298px;
    height: 46px;
    font-family: Calibri;
    font-size: 42px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    padding-left: 32px;
}

.about {
    width: 181px;
    height: 31px;
    font-family: calibiri;
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.head {
    height: 36px;
    font-family: arial;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.value {
    height: 30px;
    font-family: calibri;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: black;
}

.btn-order {
    float: right;
    border-radius: 6px;
    font-family: Poppins;
    font-size: 19px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.add-button{
    position: absolute;
    top: 48%;
    left: 81%;
    color: darkgreen;
    font-weight: 600;
    background-color: lightgray;
    border: 0px;
}

.add-number{
    position: absolute;
    top: 48%;
    left: 79%;
    color: darkgreen;
    font-weight: 700;
    background-color: lightgray;
    border: 0px;
}

.qty{
    color: darkgreen;
}

@media only screen and (max-width: 600px) {
    .button {
        position: absolute;
        left: 55%;
        top: 40%;
        width: 200px;
        height: 35px;
        opacity: 0.6;
        border-radius: 3px;
        background-color: #ffffff;
    }
}